<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Canteen Food - HomePage</title>

</head>
<body>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<nav class="navbar navbar-light" style="background-color:white;">
    <ul class="nav justify-content-end">
    <li class="nav-item">
          <a class="navbar-brand" href="index.ejs"><b style="color:#13F11C;">Canteen</b> <b><font color="black">Food</font></b>  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="index.ejs">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login.ejs">Login/SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Foods</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cart.html">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contactus.html">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
           </form>
    
    </nav>
<table>
	<tr>
		<td>
			<img src="img/loginimg.png" height="750px" width="950px">
        </td>
        <td>
            <form action="" method="post">
             
                <br>
                <h4 style="font-family: roboto;">Login To Your Account</h4>
                  <br>  <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                      
                       <h6 style="float:right;"><a href="forgotPassword.html">Forgot Password?</a></h6>     
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                    
                  
            </form>
           <a href="signup.html">Don't Have An Account, Create One!</a>
        </td>
	</tr>
</table>








	<div style="background-color:#f6f7f7;">
		<footer class="page-footer font-small blue-grey lighten-5">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h3><b style="color:#13F11C;">Canteen</b> <b><font color="black">Food</font></b> </h3>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p> Order Your favourite food at our Website. And get discounts based on the categories of food as ordered.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">Breakfast</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Lunch</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Dinner</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Drinks</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">Your Account</a>
        </p>
        <p>
          <a class="dark-grey-text" href="adminLogin.html">Admin Login</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Shipping Rates</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p> Technocrats Food Pvt Ltd, Cuttack.</p>
        <p> reachatabhisekbarik@gmail.com</p>
        <p> +91 8847880799</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
    <a class="dark-grey-text" href="#">Canteenfood.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
	</div>
<!-- Footer -->


</body>
</html>